@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700|Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap&subset=latin-ext');

/*font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--primary-dark);

    --primary-dark: rgba(60, 60, 60, 1);
    --primary-light: rgba(255, 206, 179, 1);

    --title-ff: 'Dancing Script', cursive;
}

body {
    background-color: var(--primary-light);
    text-align: justify;
}

/* global */

button {
    display: block;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

image {
    display: block;
}

.desktop {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 8rem 0;
}

/* header */

.nav_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 1rem 1rem 0 1rem;
}

.nav_contact {
    display: flex;
    flex-direction: column;
}
.contact_element {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}

.nav_contact_text {
    font-weight: 300;
    margin: 0 0 0 .5rem;
}

.nav_sign-in {
    width: 60%;
    display: flex;
    align-items: flex-start;
    background-color: var(--primary-dark);
    padding: 0 0 1rem 0;
}

.nav_sign-in_btn {
    font-size: .9rem;
    color: var(--primary-light);
    font-weight: 300;
    text-align: left; 
    width: 40%;
    min-width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--primary-light);
    margin: 0 1rem 0 0;
    padding: 0 1rem;
}

.nav_title {
    font-family: var(--title-ff);
    font-size: 1.5rem;
    font-weight: 400;
}

.nav_bottom {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin: 0 0 1rem 0;
}

.nav_bottom_link {
    margin: 0 1rem 0 0;
}

.nav_bottom_social {
    display: flex;
}

/* hamburger menu*/

                        .menu {
                            width: 100%;
                        }

                        .menu_item {
                            line-height: 3.5rem;
                            margin: 0 .5rem;
                        }

                        .menu_list {
                            text-align: right;
                            width: 100%;
                            display: none;
                            list-style: none;
                        }

                        .menu_link {
                            font-family: 'Josefin Sans', sans-serif;
                            font-size: 1.25rem;
                            font-weight: 300;
                            color: var(--primary-dark);
                            clear: right;
                            text-decoration: none;
                            display: block;
                            text-transform: uppercase;
                            transition: background-color 300ms ease-in;
                        }

                        .menu_list a:hover,
                        .menu_list a:focus {
                            background-color: rgba(255, 190, 155, 1);
                        }

                        .menu_hamburger {
                            float: right;
                            display: block;
                            cursor: pointer;
                        }

                        .hamburger_container {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            width: 40px;
                            height: 20px;
                        }

                        .hamburger_element {
                            display: block;
                            width: 40px;
                            height: 3px;
                            border-radius: 10px;
                            background-color: var(--primary-dark);
                        }

                        #toggle {
                            display: none;
                        }

                        #toggle:checked + .menu_list {
                            display: block;
                        }

.cta {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.cta_title {
    font-family: var(--title-ff);
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 2rem 0;
}

.cta_text{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
    line-height: 2rem;
    margin: 0 0 2rem 0;
}

.cta_btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta_btn-action,
.cta_btn-more {
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-family: var(--title-ff);
    font-size: 1.75rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    margin: 0 0 2rem 0;
}

.cta_btn-action {
    color: var(--primary-light);
    background-color: var(--primary-dark);
}

.cta_btn-more {
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark)
}

.features {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 8rem 1rem;
}

.features_panel {
    display: flex;
    align-items: center;
    margin: 0 0 2rem 0;
}

.features_content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2rem;
}

.features_title {
    font-family: var(--title-ff);
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.features_text {
    font-weight: 300;
    line-height: 1.5rem;
}

.offer {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 8rem 1rem;
}

.offer_main {
    display: flex;
    flex-direction: column;
}

.offer_title {
    font-family: var(--title-ff);
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.offer_content {
    display: flex;
    margin: 0 0 2rem 0;
}

.offer_text {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.offer_btn {
    width: 30%;
    height: 40px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--primary-dark);
    align-self: flex-end;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 8rem 1rem;
}

.about_main {
    display: flex;
    flex-direction: column;
}

.about_title {
    font-family: var(--title-ff);
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.about_content {
    display: flex;
    margin: 0 0 2rem 0;
}

.about_text {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.about_btn {
    width: 30%;
    height: 40px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--primary-dark);
    align-self: flex-end;
}

.cta-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-dark);
    padding: 2rem;
    color: var(--primary-light);
    margin: 0 0 8rem 0;
}

.cta-aside_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-aside_title {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: var(--title-ff);
    margin: 0 0 2rem 0;
}

.cta-aside_text {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0 0 2rem 0;
}

.cta-aside_btn {
    width: 50%;
    height: 60px;
    font-family: var(--title-ff);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-dark);
    background-color: var(--primary-light);
    border: 1px solid var(--primary-light);
}

.member {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 8rem 1rem;
}

.member_panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 2rem 0;
}

.member_period {
    min-width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.period_main {
    font-family: var(--title-ff);
    font-size: 4.5rem;
}

.period_aside {
    font-family: var(--title-ff);
    font-size: 1.5rem;
}

.member_content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1rem;
}

.member_title {
    font-family: var(--title-ff);
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.member_text {
    font-weight: 300;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
}

.member_btn {
    width: 30%;
    height: 40px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--primary-dark);
    align-self: flex-end;
    align-self: flex-end;
}

.recomendation {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 8rem 1rem;
}

.recomendation_panel {
    display: flex;
    align-items: center;
    margin: 0 0 2rem 0;
}

.recomendation_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 1rem;
}

.recomendation_title {
    font-family: var(--title-ff);
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.recomendation_text {
    font-weight: 300;
    font-style: italic;
    line-height: 1.5rem;
}

.partners {
    display: flex;
    flex-direction: column;
    margin: 0 0 8rem 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 2rem;
}

.footer_menu,
.footer_contact,
.copyright {
    order: 1;
}

.footer_social {
    order: 0;
    margin: 0 0 2rem 0;
}

.social2_img {
    margin: 0 .5rem;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0 0 2rem 0;
}

.footer_menu_link {
    font-family: var(--title-ff);
    font-size: 1.5rem;
    color: var(--primary-light);
    text-decoration: none;
    line-height: 3.5rem;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    margin: 0 0 2rem 0;
    padding: 0 0 1rem 0;
    border-top: 1px solid var(--primary-light);
    border-bottom: 1px solid var(--primary-light);
}

.contact_title {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 2rem 0;
}

.contact_element {
    display: flex;
    align-items: center;
}

.element_text {
    margin: 0 0 0 .5rem;
}

.copyright {
    font-weight: 300;
}

/*============================================================================
==============================================================================
MEDIA
==============================================================================
============================================================================*/

/* TABLET */

@media (min-width: 768px) {
    
    /* header */

    .nav_contact {
        flex-direction: row;
    }
    .contact_element {
        margin: 0 1rem 1rem 0;
    }

    .nav_sign-in {
        align-items: center;
    }

    .nav_title {
        font-size: 2rem;
    }

    .cta {
        margin: 8rem 1rem 0 1rem;
    }
    
    .cta_btn-container {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    
    .cta_btn-action,
    .cta_btn-more {
        margin: 0 1rem 2rem 1rem;
    }
    
    .features {
        flex-direction: row;
    }
    
    .features_panel {
        flex-direction: column;
    }

    .about_btn,
    .offer_btn {
        width: 20%;
    }
    
    .cta-aside_btn {
        width: 30%;
    }
    
    .member {
        flex-direction: row;
    }
    
    .member_panel {
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }
    
    .member_period {
        margin: 0 0 1rem 0;
    }
    
    .period_main {
        font-size: 8rem;
    }
    
    .member_content {
        align-items: center;
        margin: 0;
    }
    
    .member_btn {
        width: 50%;
    }
    
    .recomendation {
        flex-direction: row;
    }
    
    .recomendation_panel {
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }

    .recomendation_img {
        width: 80%;
        margin: 0 0 1rem 0;
    }
    
    .recomendation_content {
        align-items: center;
        margin: 0;
    }
    
    .partners {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

/* DESKTOP */

@media (min-width: 992px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    :root {
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif;
        color: var(--primary-dark);
    
        --primary-dark: rgba(60, 60, 60, 1);
        --primary-light: rgba(255, 206, 179, 1);
        --desktop-bgr: rgba(237, 237, 237, 1);
    
        --title-ff: 'Dancing Script', cursive;
    }
    
    body {
        background-color: var(--desktop-bgr);
        text-align: justify;
    }
    
    /* global */
    
    button {
        display: block;
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif;
        cursor: pointer;
    }
    
    image {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    .desktop {
        display: block;
    }

.hero {
        height: 100vh;
        background-image: url("images/hero.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 0 8rem 0;
        padding: 2rem;
    }
    
    /* header */

.nav_top {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: transparent;
        color: var(--primary-dark);
        padding: 0;
        margin: 0 0 2rem 0;
    }

.nav_contact {
        flex-direction: row;
        width: 45%;
    }

.contact_element {
        margin: 0 1rem 0 0;
    }

.nav_contact_text {
        font-weight: 400;
    }

.nav_sign-in {
        width: 45%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        padding: 0;
    }

.nav_sign-in_btn {
        font-size: .9rem;
        color: var(--primary-dark);
        font-weight: 400;
        text-align: left; 
        width: 35%;
        min-width: 100px;
        height: 30px;
        background-color: transparent;
        border: 1px solid var(--primary-dark);
        margin: 0 1rem 0 0;
        padding: 0 1rem;
    }

.nav_title {
        display: flex;
        align-items: center;
        font-family: var(--title-ff);
        font-size: 2rem;
        font-weight: 400;
        margin: 0 0 -5rem 0;
    }

.nav_bottom {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .nav_bottom_link {
        margin: 0 1rem 0 0;
    }

    .nav_bottom_social {
        display: flex;
    }
    
.cta {
        width: 50%;
        margin: auto 0;
        display: flex;
        flex-direction: column;
    }
    
    .cta_title {
        font-family: var(--title-ff);
        font-size: 3rem;
        font-weight: 900;
        margin: 0 0 2rem 0;
    }
    
    .cta_text{
        font-size: 1.5rem;
        font-weight: 300;
        text-align: justify;
        line-height: 2rem;
        margin: 0 0 2rem 0;
    }
    
.cta_btn-container {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .cta_btn-action,
    .cta_btn-more {
        margin: 0 1rem 0 0;
    }
    
    .cta_btn-action {
        color: var(--primary-light);
        background-color: var(--primary-dark);
    }
    
    .cta_btn-more {
        color: var(--primary-dark);
        border: 1px solid var(--primary-dark)
    }
    
.features {
        flex-direction: row;
        margin: 0 2rem 8rem 2rem;
    }
    
    .features_panel {
        flex-direction: column;
        margin: 0 2rem;
    }
    
    .features_content {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }
    
    .features_title {
        text-align: center;
        margin: 1rem 0 1rem 0;
    }
    
    .features_text {
        font-weight: 300;
        line-height: 1.5rem;
    }
    
.offer {
        height: 100vh;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

.offer_main {
        display: flex;
        flex-direction: column; 
        width: 70%;
        margin: 0;
        z-index: 1;
    }

.offer_main-img {
        margin: 2rem 0;
    }

.offer_aside {
        width: 60%;
        margin: 0 0 0 -75%;
        z-index: 0;
    }

.offer_aside-img {
        width: 100%;
    }
    
.offer_title {
        font-family: var(--title-ff);
        font-weight: 600;
        font-size: 3rem;
        margin: 0 0 2rem 4rem;
    }
    
.offer_content {
        display: flex;
        align-items: center;
        margin: 0 0 2rem 0;
        background-color: var(--primary-light);
    }
    
.offer_text {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.5rem;
        margin: 2rem;
    }
    
.offer_btn {
        width: 20%;
        height: 40px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid var(--primary-dark);
        align-self: flex-end;
    }
    
    .about {
        height: 100vh;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    
.about_main {
        display: flex;
        flex-direction: column; 
        width: 70%;
        margin: 0;
        z-index: 1;
    }

.about_main-img {
        width: 200px;
        margin: 2rem 0;
    }

.about_aside {
        width: 60%;
        margin: 0 0 0 -75%;
        z-index: 0;
    }

.about_aside-img {
        width: 200px;
    }
    
.about_title {
        font-family: var(--title-ff);
        font-weight: 600;
        font-size: 3rem;
        margin: 0 0 2rem 4rem;
    }
    
.about_content {
        display: flex;
        align-items: center;
        margin: 0 0 2rem 0;
        background-color: var(--primary-light);
    }
    
.about_text {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.5rem;
        margin: 2rem;
    }
    
    .about_btn {
        width: 20%;
        height: 40px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid var(--primary-dark);
        align-self: flex-end;
    }
    
    .cta-aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-dark);
        padding: 2rem;
        color: var(--primary-light);
        margin: 0 0 8rem 0;
    }
    
    .cta-aside_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cta-aside_title {
        font-size: 2.5rem;
        font-weight: 300;
        font-family: var(--title-ff);
        margin: 0 0 2rem 0;
    }
    
    .cta-aside_text {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 2rem;
        margin: 0 0 2rem 0;
    }
    
    .cta-aside_btn {
        width: 30%;
        height: 60px;
        font-family: var(--title-ff);
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--primary-dark);
        background-color: var(--primary-light);
        border: 1px solid var(--primary-light);
    }
    
.member {
        flex-direction: row;
        margin: 0 2rem 8rem 2rem;
    }
    
.member_panel {
        flex-direction: column;
        align-items: center;
        margin: 0 2rem;
    }
    
    .member_period {
        margin: 0 0 1rem 0;
    }
    
    .period_main {
        font-family: var(--title-ff);
        font-size: 8rem;
    }
    
    .period_aside {
        font-family: var(--title-ff);
        font-size: 1.5rem;
    }
    
    .member_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .member_title {
        font-family: var(--title-ff);
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
    }
    
    .member_text {
        font-weight: 300;
        line-height: 1.5rem;
        margin: 0 0 1rem 0;
    }
    
    .member_btn {
        width: 50%;
        height: 40px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid var(--primary-dark);
        align-self: flex-end;
        align-self: flex-end;
    }
    
.recomendation {
        flex-direction: row;
        margin: 0 2rem 8rem 2rem;
    }
    
.recomendation_panel {
        flex-direction: column;
        align-items: center;
        margin: 0 2rem;
    }

    .recomendation_img {
    width: 80%;
    margin: 0 0 1rem 0;
    }
    
    .recomendation_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .recomendation_title {
        font-family: var(--title-ff);
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
    }
    
    .recomendation_text {
        font-weight: 300;
        font-style: italic;
        line-height: 1.5rem;
    }
    
    .partners {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 0 8rem 0;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-dark);
        color: var(--primary-light);
        padding: 2rem;
    }
    
    .footer_menu,
    .footer_contact,
    .copyright {
        order: 1;
    }
    
    .footer_social {
        order: 0;
        margin: 0 0 2rem 0;
    }
    
    .social2_img {
        margin: 0 .5rem;
    }
    
    .footer_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 0 0 2rem 0;
    }
    
    .footer_menu_link {
        font-family: var(--title-ff);
        font-size: 1.5rem;
        color: var(--primary-light);
        text-decoration: none;
        line-height: 3.5rem;
    }
    
    .footer_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
        margin: 0 0 2rem 0;
        padding: 0 0 1rem 0;
        border-top: 1px solid var(--primary-light);
        border-bottom: 1px solid var(--primary-light);
    }
    
    .contact_title {
        font-size: 1.25rem;
        font-weight: 300;
        margin: 2rem 0;
    }
    
    .contact_element {
        display: flex;
        align-items: center;
    }
    
    .element_text {
        margin: 0 0 0 .5rem;
    }
    
    .copyright {
        font-weight: 300;
    }

}